@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* === SideNav === */
.user-view img {
  height: 100%;
  width: 100%;
}

/* === CARD === */

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  font-size: 2em;
}

.card-title {
  font-style: italic;
  font-weight: 400;
}

.card-action {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

.fa-plus,
.fa-times {
  margin-right: 0.5em;
}

#landing-page {
  display: flex;
  flex-flow: column;
}

#landing-page a {
  margin-top: 1.5rem;
  width: 300px;
}

/* === DASHBOARD PAGE === */

#dashboard-page {
  margin-top: 5%;
  display: grid;
  grid-auto-columns: sidebar 1fr main 3fr;
}

#profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

@media only screen and (min-width: 902px) {
  .brand-logo {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 504px) {
  .card-action {
    font-size: 1em;
  }
}

@media only screen and (max-width: 400px) {
  .card-action {
    height: 100%;
  }
}
